# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
__pycache__
shareFile/__pycache__
shareFile/static/FileCollection/*
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
