<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>shareFile</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ url_for("main.home") }}">Home</a></li>
      {% if current_user %}
        <li><a href="{{ url_for("main.account") }}">Account</a></li>
        <li><a href="{{ url_for("main.logout") }}">Log Out</a></li>
      {% else %}
        <li><a href="{{ url_for("main.register") }}">Register</a></li>
        <li><a href="{{ url_for("main.login") }}">Login</a></li>
      {% endif %}
    </ul>
  </nav>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages%}
        <div>
          <h2>{{ message }}</h2>
        </div>
      {% endfor%}
    {% endif %}
  {% endwith%}
  {% block content %}{% endblock %}
</body>
</html>
